<!DOCTYPE html>
<head>
<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylsheet" href="/style.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.sidenav');
		    var instances = M.Sidenav.init(elems, options);
		});
		</script>
		<style>
		.background{
			background-color: #63ba97;
		}
		.time{
			font-style: italic;
			height: 20px;
			margin: 0;
			font-size: 12px;
		}
		</style>
</head>
<body>
	<div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCryEnIekqeKM1QqNDE8WCilp0hdOhsme4&callback=initMap"
    async defer></script>
	<ul id="slide-out" class="sidenav" style="transform: translateX(0%);">
          <li>
            <div class="user-view">
              <div class="background">
              </div>
                <a class="waves-effect waves-teal btn-flat right" id="signup" href="{% url 'logout' %}">Log out</a>
              <a href="#user">
                <img class="circle" src="https://i.stack.imgur.com/dr5qp.jpg">
              </a>
              <a href="#name">
                <span class="white-text name" id="name">User: {{user.username}}</span>
              </a>
              <a href="#email">
                <span class="white-text email" id="email">Email: {{user.email}}</span>
              </a>
            </div>
          </li>
          <li>
            <a href="#!">Appointment 1</a>
          </li>
          <li>
            <a href="#!">Appointment 2</a>
          </li>
          <li>
            <a href="#!">Appointment 3</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a class="waves-effect" href="{% url 'appointments_create' %}">Add an appointment</a>
          </li>
        </ul>
</body>
</html>