<html>
	<head>
		<!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	    <link rel="stylsheet" href="style.css">
	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		<nav>
		    <div class="nav-wrapper">
		    	<a href="#" class="brand-logo center">Logo</a>
		    	<ul id="nav-mobile" class="left hide-on-med-and-down">
		        <li><a href="sass.html">Sass</a></li>
		        <li><a href="badges.html">Components</a></li>
		        <li><a href="collapsible.html">JavaScript</a></li>
		    	</ul>
		    </div>
		</nav>
		<center>
			<div class="title">
				<h1>NAME</h1>
				<p>A short description</p>
			</div>
		<center>
	</body>
	<style>
	html{
		background-color: #f0ebb4;
	}
	h1{
		margin: 0;
		border: 0;
		padding: 0;
	}
	.title{
		background-color: #63ba97;
		margin: 0 auto;
	}
	.nav-wrapper{
		background: none;
	}
	</style>
</html>