<html>
	<head>
	<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylsheet" href="/style.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		<center>
			<form method="POST" class="post-form">
				{% csrf_token %}
					<h2>Sign up</h2>
					<p>
						<label for="id_username">Username:</label>
						<input type="text" name="username" maxlength="20" required id="id_username">
					</p>
					<p>
						<label for="id_first_name">First name:</label>
						<input type="text" name="first_name" maxlength="30" required id="id_first_name">
					</p>
					<p>
						<label for="id_last_name">Last name:</label>
						<input type="text" name="last_name" maxlength="30" required id="id_last_name">
					</p>
					<p>
						<label for="id_email">Email:</label>
						<input type="text" name="email" style="text-transform:lowercase;" maxlength="40" required id="id_email">
					</p>
					<p>
						<label for="id_date_of_birth">Date of birth:</label>
						<input type="text" class="datepicker" name="date_of_birth" required id="id_date_of_birth">
					</p>
					<p>
						<label for="id_password">Password:</label>
						<input type="password" name="password" maxlength="128" required id="id_password">
					</p>
				<button type="submit" class="save btn btn-default">Save</button>
			</form>
			-->
		</center>
	</body>
	<style>
	.post-form{
		width: 50%;
		background-color: #39c68e;
	}
	.save{
		margin-bottom: 14px;
	}
	.nav-wrapper{
		background-color: #39c68e;
	}
	#id_username{

	}
	html {
		background-image:  url('https://i.imgur.com/xEFGf9u.png');
		color: white;
	}
	p {
		margin-left: 14px;
		margin-right: 14px;
	}
	label {
		color: white;
	}
	input {
		border-bottom: white;
	}
	h2 {
		margin:5%;
		border-top: 14px;
	}
	form {
		border-top: 14px;
	}
	</style>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
    	var elems = document.querySelectorAll('.sidenav');
    	var instances = M.Sidenav.init(elems, options);
  	});
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.datepicker');
		var instances = M.Datepicker.init(elems, options);
	});
	</script>
</html>